<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Source Browser</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header data-load="header.html">
        <nav class="navigation-bar dark">
            <nav class="navigation-bar-content">
                <a href="/" class="element before-divider title-element"><span class="logo"></span><span class="visible-on-wide-screen"> SOURCE BROWSER <sup>0.1</sup></span></a>
                <a class="element visible-on-wide-screen" href="/Browse/">Browse</a>
                <a class="element visible-on-wide-screen" href="/Upload/">Upload</a>
                <div class="input-element place-right">
                    <form>
                        <div class="input-control text">
                            <input type="text" placeholder="Search...">
                            <button class="btn-search"></button>
                        </div>
                    </form>
                </div>
                <div class="element pull-menu place-right visible-on-narrow-screen">
                    <a class="dropdown-toggle" href="#"></a>
                    <ul class="dropdown-menu place-right" data-role="dropdown">
                        <li><a href="/Browse/">Browse</a></li>
                        <li><a href="/Browse/">Browse</a></li>
                    </ul>
                </div>
            </nav>
        </nav>
    </header>
    
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/search")
    @*Scripts.Render("~/bundles/sourcebrowser")*@
    @RenderSection("scripts", required: false)
</body>
</html>
