<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@(ViewBag.Title != null ? ViewBag.Title + " | Source Browser" : "Source Browser")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="metro">
    <header class="bg-dark" data-load="header.html">
        <div class="navigation-bar dark">
            <div class="navigation-bar-content container">
                @* Left aligned items: *@
				<a href="/" class="element title-element">
					<div class="logo"></div>
					<div class="title">SOURCE BROWSER <sup>0.2</sup></div>
				</a>
                <span class="element-divider"></span>

                <a class="element1 pull-menu" href="#"></a>
                <ul class="element-menu">
                    <li>
                        @Html.ActionLink("Browse", "", "Browse")
                    </li>
                    <li>
                        @Html.ActionLink("Upload", "", "Upload")
                    </li>
                </ul>

                @* Right aligned items: *@
                <div class="element-menu place-right input-element">
                </div>


            </div>
        </div>
    </header>
    
    @RenderBody()
    
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://codeconnect.io">Code Connect</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/search")
    @*Scripts.Render("~/bundles/sourcebrowser")*@
    @RenderSection("scripts", required: false)
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58766117-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
