@model SourceBrowser.Site.Models.GithubSolutionStructure

@{
    ViewBag.Title = "LookupFolder";
}

<div id="sb-viewhost">
    <!-- Main Content-->
    <article id="main-content">
        <h3>Browsing @Model.ParentRepo.ParentUserName's repository @Model.ParentRepo.Name.</h3>
        <p>Use the search box or the tree view on the right to browse within this repository.</p>
        <p>Or <a href="//github.com/@Model.ParentRepo.ParentUserName/@Model.ParentRepo.Name/" target="_blank">view @Model.ParentRepo.Name on GitHub.</a></p>
    </article>
    <div id="drag-handle"></div>
    <aside id="browser">
        <section id="tree-view" class="metro">
            @Html.Raw(ViewBag.TreeView)
        </section>
        <section id="search-results" style="display:none;"></section>
        <section id="no-results" style="display:none;">
            There were no results
        </section>
    </aside>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/treeViewScripts")
}
