@model SourceBrowser.Site.Models.GithubSolutionStructure

@{
    ViewBag.Title = Model.ParentRepo.Name;
}

<div id="sb-viewhost">
    <!-- Main Content-->
    <article id="main-content">
        <h3>Browsing @Model.ParentRepo.ParentUserName's repository @Model.ParentRepo.Name.</h3>
        <p>
			Use the <strong>search box</strong> or the <strong>tree view</strong> on the right,
			or <a href="//github.com/@Model.ParentRepo.ParentUserName/@Model.ParentRepo.Name/" target="_blank">view @Model.ParentRepo.Name on GitHub.</a>
		</p>
		@if (ViewBag.Readme != null)
		{
			<div id="readme">
				<div id="readme-header">README.md</div>
				<article>@Html.Raw(ViewBag.Readme)</article>
			</div>
		}
    </article>
    <div id="drag-handle"></div>
    <aside id="browser">
        <section id="tree-view" class="metro">
            @Html.Raw(ViewBag.TreeView)
        </section>
        <section id="search-results" style="display:none;"></section>
        <section id="no-results" style="display:none;">
            There were no results
        </section>
    </aside>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/treeViewScripts")
}
