@model SourceBrowser.Site.Models.GithubUserStructure

@{
    ViewBag.Title = Model.Username;
}

<div class="container body-content">
    <div class="container-fluid" id="mainContainer">
        <div class="row">
            <!--Bread crumb-->
            <header class="col-xs-12">
                <p>
                    <nav class="breadcrumbs mini">
                        <ul>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </nav>
                </p>
            </header>
        </div>
        <!--/Bread crumb-->

        <div class="row">
            <aside class="col-xs-4" id="userInfo">
                <section class="userDetail">
                    <img src="@Model.AvatarURL" />
                    <h3>@Model.FullName</h3>
                    <h4>@Model.Username</h4>
                    @if (!String.IsNullOrEmpty(Model.BlogURL))
                    {
                        <p class="minor"><a href="@Model.BlogURL" target="_blank">@Model.BlogURL</a></p>
                    }
                </section>
            </aside>

            <!-- Main Content-->
            <article class="col-xs-8" id="main">
                <section>

                    <h2>Browsing @(String.IsNullOrEmpty(Model.FullName) ? Model.Username : Model.FullName)'s repositories.</h2>
                    <ul>
                        @foreach (var repo in Model.Repos)
                        {
                            <li class="hide-bullet">
                                <a class="repoBadge" href="/Browse/@Model.Username/@repo.Name/" target="_self">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <h4>@repo.Name</h4>
                                        </div>
                                        <div class="col-xs-4">
											@if (!String.IsNullOrEmpty(repo.language))
											{
												<p class="match-h-margin">
													@repo.language, @repo.starsCount stars, @repo.forksCount forks
												</p>
											}
                                        </div>
                                    </div>
                                    
                                    <p>@repo.description</p>

                                    @if (!String.IsNullOrEmpty(repo.homepage))
                                    {
                                        <p class="minor">@repo.homepage</p>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                    
                    <p>Or <a href="@Model.GitHubURL/?tab=repositories" target="_blank">view all @Model.FullName's repositories on github.</a></p>
                </section>
            </article>
        </div>
    </div>
</div>