@model SourceBrowser.Site.Models.GithubFileStructure

@{
    ViewBag.Title = "LookupFile";
}

<div class="container body-content">
    <div class="container-fluid" id="mainContainer">
        <div class="row">
            <!--Bread crumb-->
            <header class="col-xs-12">
                <p>
                    <nav class="breadcrumbs mini">
                        <ul>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </nav>
                </p>
            </header>
        </div>
        <!--/Bread crumb-->

        <div class="row">
        
            <!-- Main Content-->
            <article class="col-xs-8" id="main" style="overflow-x:scroll">
                <section>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td valign="top" style="min-width:65px">
@*BE CAREFUL WITH PRE TAGS: Comments within them will affect the resulting markup...
This is intentionally left aligned and formatted weird.
as it's in a <pre> tag.*@
                                    <pre id="line-numbers">
@for (int i = 1; i < Model.NumberOfLines; i++){<a href="#@i" name="@i">@i</a>
}</pre>
                                </td>
                                <td valign="top">
                                    @if (!String.IsNullOrEmpty(Model.SourceCode))
                                    {
                                        <pre class="source-code">@Html.Raw(Model.SourceCode)</pre>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </article>
            <!--Display the tree view.-->
            <aside class="col-xs-4" id="browser">
                <section id="tree-view">
                    @Html.Raw(ViewBag.TreeView)
                </section>
                <section id="search-results" style="display:none;">
                    <section id="no-results" style="display:none;">
                        There were no results
                    </section>
                </section>
            </aside>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/treeViewScripts")
}
